<h1>Rails app test</h1>
<div id="links">
  <ul>
    <li>
      <%= link_to 'Get Account', account_path %>
    </li>
    <li>
      <%= link_to 'Specific Signature Request Info', signature_request_path %>
    </li>
    <li>
      <%= link_to 'All Signature Requests', all_requests_path %>
    </li>

  </ul>
</div>
