<h1 id="event">
  HelloSign Signature Request
</h1>
<script type="text/javascript">
  var signUrl = "<%= sign_url %>";
  var clientId = "<%= ENV['CLIENT_ID'] %>";

  HelloSign.init(clientId);
  HelloSign.open({
    url: signUrl,
    debug: true,
    allowCancel: true,
    skipDomainVerification: true,
    uxVersion: 2,
    messageListener: function(eventData){
      if (eventData.event == 'signature_request_canceled') {
        document.getElementById("event").innerHTML = "SIGNATURE CANCELLED"
      } else if (eventData.event == 'signature_request_signed') {
        HelloSign.close()
        document.location = "http://www.reuters.com"
      }
    }
  })
</script>
